body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calendar-drawing {
    width: 800px; /* Largeur fixe */
    height: 600px; /* Hauteur fixe */
    max-width: 100vw; /* S'assure que ça ne dépasse pas 90% de la largeur de l'écran */
    max-height: 90vh; /* S'assure que ça ne dépasse pas 90% de la hauteur de l'écran */
    margin: auto; /* Centre le calendrier sur l'écran */
    position: relative;
    background-color: #fff;
    border: 3px solid #000;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement */
    padding: 20px;
    overflow: hidden; /* Masquer tout débordement */
}

.spiral {
    width: 30px;
    height: 30px;
    border: 3px solid #000;
    border-radius: 50%;
    position: absolute;
    top: -20px;
}

.spiral:nth-child(1) {
    left: 60px;
}

.spiral:nth-child(2) {
    left: 50%;
    transform: translateX(-50%);
}

.spiral:nth-child(3) {
    right: 60px;
}

.calendar-header {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive; /* Police de caractère */
}

.calendar-content {
    text-align: center;
    padding: 40px;
}

#generate-citation {
    padding: 15px 30px;
    background-color: #3CB371; /* Vert menthe */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease, opacity 0.5s ease; /* Effet de transition */
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease; /* Pour l'effet de transition */
}

#citation-text {
    font-size: 1.5rem; /* Taille du texte */
    font-family: 'Gloria Hallelujah', cursive; /* Police stylisée */
    text-align: center; /* Centrer le texte */
    margin-top: 20px; /* Espace au-dessus de la citation */
}

#citation-author {
    font-size: 1.2rem; /* Taille de l'auteur */
    font-style: italic; /* Italique pour le nom de l'auteur */
    text-align: center; /* Centrer le texte */
    margin-top: 10px; /* Espace au-dessus de l'auteur */
}

.citation-container {
    background-color: #f9f9f9; /* Couleur de fond */
    border: 2px solid #3CB371; /* Bordure de couleur verte menthe */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement interne */
    margin-top: 20px; /* Espace au-dessus */
}
.calendar-header {
    font-size: 2rem; /* Ajuster la taille du texte */
}

#citation-text {
    font-size: 1.2rem; /* Taille du texte de la citation */
}
#citation-author, 
#timer {
    font-family: 'Gloria Hallelujah', cursive; /* Même police que la citation */
    font-size: 1.2rem; /* Taille du texte */
    margin-top: 10px; /* Espacement au-dessus */
}